body {
    background-color: #0D1117;
    font-family: Arial, sans-serif;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    margin: auto;
}

header {
    padding: 20px;
}

h1 {
    color: whitesmoke;
    margin: 0;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background: #151B23;
    border: 1px solid rgb(177, 177, 177);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

textarea {
    width: 300px;
    height: 300px;
    padding: 10px;
    background-color: #0d1117;
    color: whitesmoke;
    border: 1px solid rgba(177, 177, 177, 0.558);
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
}

.inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input[type="submit"] {
    background-color: #238636;
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #2ea043;
}

.modelsResults{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.resultContainer{
    display: none;
    border: 3px solid;
    border-radius: 5px;
    margin-left: 14vh;
    padding: 8px;
    padding: 8px;
    padding: 8px;
    margin-top:20%;
}

#result-text{
    color: whitesmoke;
    font-size: 1.2em;
    margin: 0;
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    color: #8b949e;
}

.divisor{
    background: linear-gradient(to right, #0D1117, #29b9b612);
    margin-left: -9%;
    margin-right: -9%;
    /* padding: 1px; */
    border-radius: 70%;
    opacity: 0.9;
}

button{
    background-color: #238636;
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-upload {
    margin-left: 20px;
}
.upload-button {
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}
.upload-button:hover {
    background-color: #0056b3;
}
#audioFile {
    display: none;
}